extends layout

block content
  h2= publisher.name  

  hr
  p(class="publisher-info") Founded in #{publisher.foundation_year}
  p(class="publisher-info") Origin country: #{publisher.origin_country}
  hr

  div.crud-functions
    a(class="toForm" href=publisher.url+'/delete') DELETE PUBLISHER
    a(class="toForm" href=publisher.url+'/update') UPDATE PUBLISHER

  hr

  h3(class="list-title") Games 
  ul(class="game-list")
    each game in publisher_games
      li
        div(class="game-list-container")
          div(class="game-list-image") 
            if(game.image_url != '')
              img(src=game.image_url, alt=game.title)
            else 
              img(src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg", alt=game.title)
          div(class="game-list-info")  
            p Title: 
              a(href=game.url) #{game.title}
            p Developer: 
              a(href=game.developer.url) #{game.developer.name}

    else
      li There are no games.
